@charset "utf-8";
/* css reset start */
h1,h2,h3,h4,h5,h6,p,ol,ul,li,dl,dd,textarea,form,input,select,body,div,a{
	margin:0;padding:0;font-size:14px;font-family: "微软雅黑",Tahoma,Arial;
}
em{font-style:normal;}
li{list-style:none;}
a{text-decoration:none;outline: medium none;}
img{vertical-align:top;border:none;}
textarea{overflow:auto;resize:none;}

/* css reset end */
/*top start*/


#tb {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
#tb  #table {
	width: 80%;
	margin: 20px auto;
	background: #0174A9;
}
#tb  #table tr.th {
	color:#fe3;
	border: none;
	
}
#tb  #table tr.th  td {
	border: none;
 
}
